@charset "utf8";
/*The @fontface style rule helps in making the font I picked work. I used font family for the combinations of fonts that I wanted. */
@font-face{
    font-family: 'Great Vibes', cursive;
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Angelina Stilphen
   Date:   9.11.18
   
   Filename: lake_styles.css

*/

/*I had to use html so the background color of the website would be the color I wanted. I also used body to change the font and color again as well. Body can be implented by both request and response.*/
html {
    background-color: white;
}

body {
    background-color: whitesmoke;  
    font-family: 'Times New Roman', Times, serif; 
}

body>footer {
    background-color: rgb(203, 222, 240);
}

h1 {
    font-family: 'Great Vibes', cursive; 
    font-size: 55px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    text-align: center
}

aside {
    background-color: lavender;
    text-align: center;
}

nav {
    background-color: lavender;
}

section#rightcol {
    background-color: lavender;
}

blockquote {
    text-align: center;
}




